* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./picture/1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.container {
    width: 1000px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 60px;
}
div .title img{
    width: 400px;
    height: 134px;
    margin-left: 50px;
}
hr {
    margin: auto;
}

a {
    color: aliceblue; 
    text-decoration: none;
}

.menu {
    width: 400px;
    height: 40px;
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 50px;
    z-index: 1;
}

.menu_left ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:auto;
}

.menu_left ul li {
	float:left;
}

.menu_left ul li a {
	display: block;
	float: left;
	height: 30px;
	width: 100px;
	text-align: left;
}
.menu_left ul li ul {
	position: absolute;
	width: 180px;
    height: 200px;
    line-height: 40px;
	overflow: visible;
	clear: left;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 10px;
}
 html .menu_left ul li ul {
	margin-top:0;
}
.menu_left ul li ul li {
	float:none;
	text-align: left;
}
.menu_left ul li ul li a {
	float:none;
	width: 100%;
}
.menu_left ul li ul li ul {
	margin-top: -30px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 120px;
	width: 100%;
}

.menu_right ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:auto;
}

.menu_right ul li {
	float:left;
}

.menu_right ul li a {
	display: block;
	float: left;
	height: 30px;
	width: 100px;
	text-align: left;
}
.menu_right ul li ul {
	position: absolute;
	width: 180px;
    height: 200px;
    line-height: 40px;
	overflow: visible;
	clear: left;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 10px;
}
 html .menu_right ul li ul {
	margin-top:0;
}
.menu_right ul li ul li {
	float:none;
	text-align: left;
}
.menu_right ul li ul li a {
	float:none;
	width: 100%;
}
.menu_right ul li ul li ul {
	margin-top: -30px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 120px;
	width: 100%;
}

.ale{
    color: rgba(191, 166, 118, 0.9);
}
.ale1{
    color: rgba(191, 166, 118, 0.9);
}

.menu_left ul li ul {
	visibility:hidden;
}
.menu_left ul li:hover ul {
	visibility:visible;
}
.menu_left ul li:hover ul li ul {
	visibility:hidden;
}
.menu_left ul li ul li:hover ul {
	visibility:visible;
}
.menu_left ul li ul li:hover ul li ul {
	visibility:hidden;
}
.menu_left ul li ul li ul li:hover ul {
	visibility:visible;
}

.menu_right ul li ul {
	visibility:hidden;
}
.menu_right ul li:hover ul {
	visibility:visible;
}
.menu_right ul li:hover ul li ul {
	visibility:hidden;
}
.menu_right ul li ul li:hover ul {
	visibility:visible;
}
.menu_right ul li ul li:hover ul li ul {
	visibility:hidden;
}
.menu_right ul li ul li ul li:hover ul {
	visibility:visible;
}

.main {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    color: white;
    z-index: 2;
}

.skin {
    width: 900px;
    background-color: rgba(0, 0, 0, 0.5);
}

.flex {
    display: flex;
}

.left {
    width: 450px;
}

div .picture img{
    width: 300px;
    height: 300px;
    margin-top: 60px;
    margin-left: 110px;
}

.picture {
    display: flex;
    justify-content: center;
    margin-top: -3%;
}

img {
    width: 80%;
    height: 600px;
}

.main_title {
    width: 230px;
    height: 150px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.out {
    width: 440px;
    height: 150px;
    display: flex;
    justify-content: end;
    
}

.story {
    margin-right: -30px; 
    width: 360px;
}

.thing {
    width: 290px;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thing1 {
    width: 170px;
    height: 50px;
    margin-left: 37px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content:left;
}

.line {
    width: 350px;
    display: flex;
    justify-content: end;
}

hr {
    margin-right: -190px;
    width: 500px;
    margin-bottom: 20px;
}

.get {
    width: 150px;
    height: 60px;
    font-size: 24px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.list {
    width: 200px;
    line-height: 60px;
}

.rt {
    width: 80px;
    display: flex;
    font-size: 18px;
    text-align: left;
    margin-left: 100px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(18, 18, 18, 0.8);
}
.final{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
}
.text{
    width: 500px;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 80px;
    line-height: 20px;
}